%h1 Welcome to the staff page
= form_with model: @article, url: staff_content_articles_path, method: "post" do |f|
	%input{name: "title"} Title
	%select#status-select{name: "status"}
		%option Free
		%option Restricted
		%label.control_label{for: "content"} Content
		%textarea#content.form-control{name: "content"}
		%label.control-label{for: "category"} Categories
		%select#categories-select{name: "category"}
			%option Sports
			%option Entertainment
			%option Local
			%option Global
			%option Tech
			%option Politics
		%button.btn.btn-primary{type: "submit"} Save Article
