.h1
	%p
		%h1 Welcome to the staff page
		= form_with model: @article, url: staff_content_articles_path, method: "post" do |f|
			%label.control-label{for: "title"} Title
			%input.form_container{name: "title"}
			%label.control-label{for: "status"} Status
			%select#status-select{name: "status"}
				%option Free
				%option Restricted
				%label.control_label{for: "content"} Content
				%textarea.content.form-control.input_field_article.form_container{name: "content"}
				%label.control-label{for: "category"} Categories
				%select.categories-select{name: "category"}
					%option Sports
					%option Entertainment
					%option Local
					%option Global
					%option Tech
					%option Politics
				%button.btn-group-wrap.button{style:'text-align:center;', type: "submit"} Save Article
